:root {
    --white: #FFFFFF;
    --blue: #00D2DF;
    --gray: #C4C4C4;

    --dark-100: #121212;
    --dark-200: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    background-color: var(--dark-100);
    color: var(--white);
}

a {
    text-decoration: none;
}

footer {
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 12.5%;
    color: var(--gray);
    font-size: 1rem;
}