:root {
    --white: #FFFFFF;
    --blue: #00D2DF;
    --gray: #C4C4C4;

    --dark-100: #121212;
    --dark-200: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-100);
    color: var(--white);
}

a {
    text-decoration: none;
}

footer {
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 12.5%;
    color: var(--gray);
    font-size: 1rem;
}

.border-blue {
    border-radius: 0.25rem;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
}

.border-purple {
    border-radius: 0.25rem;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #d24074, #6518b4 100%) 1;
}

.hover-effect01:hover {
    transition: background-color 1s ease;
    background-image: linear-gradient(45deg, #9358f7, #10d7e2 100%);
}


.hover-effect02:hover {
    transition: background-color 1s ease;
    background-image: linear-gradient(90deg, #d24074, #6518b4 100%);
}