.sobreMim {
	background-color: var(--dark-200);
	padding: 6.38rem 11.25rem;
	display: flex;
	gap: 11.44rem;
}

.fotoDePerfil img {
	border-left: 4px solid var(--blue);
	border-radius: 4px;
	width: 22.9375rem;
	height: 22.9375rem;
}

.sobreMim-textos h1 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 2.5rem;
}

.sobreMim-textos h2 {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 1.31rem;
}

.sobreMim-textos p {
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 2rem;
	margin-bottom: 2.5rem;
	color: var(--gray);
}

.skills {
	display: flex;
	gap: 1.88rem;
}

.skills img {
	max-width: 24px;
	max-height: 24px;
}

.sobreMim-buttons {
	display: flex;
	margin-top: 2.63rem;
	gap: 3rem;
}

.sobreMim-buttons a {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.9rem;
	padding: 0.5rem 1rem;

	color: white;
	font-weight: 600;
	font-size: 1rem;
	border: 2px solid transparent;
}

.sobreMim-buttons .curriculo {
	border-image: linear-gradient(90deg, #d24074, #6518b4 100%) 1;
}

.sobreMim-buttons .email {
	border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
}

@media(max-width: 1226px) {
	.sobreMim {
		padding: 6.38rem 5.625rem;
		gap: 5.625rem;
	}
}

@media(max-width: 953px) {
	.sobreMim {
		flex-direction: column;
		align-items: center;
	}

	.fotoDePerfil {
		display: none;
	}

	.sobreMim-buttons {
		gap: 1.5rem;
	}
}

@media(max-width: 600px) {
	.sobreMim {
		padding: 1.5rem;
	}
}