main .habilidades {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1.625rem;
    width: 100%;
    padding: 6.25rem 0 6.25rem 12.5%;

    background-color: #131313;
}

.linguagens {
    max-width: 800px;
    /* largura máxima do contêiner pai */
    margin: 0 auto;
    /* centraliza o contêiner */
    display: flex;
    flex-wrap: wrap;
    /* permite que os elementos sejam quebrados para a próxima linha */

}

.linguagem-box {
    background-color: #151515;
    margin: 5px;

    width: 20%;
    /* largura máxima de cada elemento filho */
    box-sizing: border-box;
    /* inclui o tamanho da borda e do preenchimento no cálculo da largura */
    padding: 10px;
    text-align: center;
    float: left;
    /* faz com que cada elemento filho flutue à esquerda */
}

.linguagem-box img {
    width: 5rem;
}

@media (max-width: 600px) {
    main .habilidades{
        padding: 6.25rem 2.8125rem 6.25rem 2.8125rem;
    }
    .linguagens {
       display: flex;
       align-items: center;
         justify-content: center;
    }

    .linguagem-box {
        width: 45%;
    }
}